@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    color: #1e1f20;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(360deg,rgb(255, 255, 255) 0%, rgb(221, 224, 230) 100%);
    width:100% ;

}


.container {
    min-width: auto;
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}


header nav {
    width: 100%;

}

header nav ul {
    list-style: none;
    display:flex;
    justify-content:space-around;
    z-index: 2;
    position: relative
}

header nav ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    font-size: 140%;
    white-space: nowrap;
}

header nav ul li a {
    color: #dee3e8; ;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #1D4D7A;
}

header nav ul li.btn a {
    background-color: #1D4D7A;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 400ms ease;

}
header nav ul li.btn a:hover {
    background: #11273a;
}

header nav  {
    content: '';
    display: block;
    width: auto;
    background:#2d2b33 ;
    border-radius: 10px;
    position: relative;
    top: -30px;
    block-size: 70px;    

}




.hero {
    width: 100%;
    top: 300px;
    position:absolute;
    margin: 0 auto;

}

.hero2 {
    width: 100%;
    top: 300px;
    position:absolute;
    margin: 0 auto;

}

.hero3 {
    width: 100%;
    top: 300px;
    position:absolute;
    margin: 0 auto;

}

.hero4 {
    width: 100%;
    top: 800px;
    position:absolute;
    margin: 0 auto;
}
.hero5 {
    width: 100%;
    top: 800px;
    position:absolute;
    margin: 0 auto;
}
.hero6 {
    width: 100%;
    top: 800px;
    position:absolute;
    margin: 0 auto;
}
.hero7 {
    width: 100%;
    top: 1300px;
    position:absolute;
    margin: 0 auto;
}
.hero8 {
    width: 100%;
    top: 1300px;
    position:absolute;
    margin: 0 auto;
    
}
.hero9 {
    width: 100%;
    top: 1300px;
    position:absolute;
    margin: 0 auto;
    
}
.hero10 {
    width: 100%;
    top: 1800px;
    position:absolute;
    margin: 0 auto;
    padding-bottom: 600px;
}
.hero11 {
    width: 100%;
    top: 1800px;
    position:absolute;
    margin: 0 auto;
    
}

.hero00 {
    width: 100%;
    left: auto;
    top: 150px;
    position:absolute;
    margin: 0 auto;

}
.hero img {
    position:absolute;
    transform: translate(-50%);
    width: auto;
    left:25%;
    max-width: 300px;
    border-radius: 10px;
    border: 10px solid #2d2b33;

}

.hero2 img {
    position:absolute;
    transform: translate(-50%);
    left:50%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}


.Id_0 li a{
    position:absolute;
    top: 340px;
    left:25%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 116px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}

.Id_1 li a{
    position:absolute;
    top: 340px;
    left:50%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 95px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}


.hero3 img {
    position:absolute;
    transform: translate(-50%);
    left:75%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}


.Id_2 li a{
    position:absolute;
    top: 340px;
    left:75%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 110px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}

.hero4 img {
    position:absolute;
    transform: translate(-50%);
    left:25%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}

.Id_3 li a{
    position:absolute;
    top: 340px;
    left:25%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 107px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero00--info h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    font-family: cursive;
    white-space: nowrap;

}
.hero5 img {
    position:absolute;
    transform: translate(-50%);
    left:50%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_4 li a{
    position:absolute;
    top: 340px;
    left:50%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 143px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero6 img {
    position:absolute;
    transform: translate(-50%);
    left:75%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_5 li a{
    position:absolute;
    top: 340px;
    left:75%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 105px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero7 img {
    position:absolute;
    transform: translate(-50%);
    left:25%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_6 li a{
    position:absolute;
    top: 340px;
    left:25%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 85px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero8 img {
    position:absolute;
    transform: translate(-50%);
    left:50%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_7 li a{
    position:absolute;
    top: 340px;
    left:50%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 75px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero9 img {
    position:absolute;
    transform: translate(-50%);
    left:75%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_8 li a{
    position:absolute;
    top: 340px;
    left:75%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 85px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}

.hero10 img {
    position:absolute;
    transform: translate(-50%);
    left:25%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_9 li a{
    position:absolute;
    top: 340px;
    left:25%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 105px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}
.hero11 img {
    position:absolute;
    transform: translate(-50%);
    left:50%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    border: 10px solid #2d2b33;
}
.Id_10 li a{
    position:absolute;
    top: 340px;
    left:50%;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 70px;
    font-size: 20px;
    white-space: nowrap;
    transform: translate(-50%);

}