@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    color: #1e1f20;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(360deg,rgb(255, 255, 255) 0%, rgb(221, 224, 230) 100%);
    width:100% ;

}


.container {
    min-width: auto;
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}


header nav {
    width: 100%;

}

header nav ul {
    list-style: none;
    display:flex;
    justify-content:space-around;
    z-index: 2;
    position: relative
}

header nav ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    font-size: 140%;
    white-space: nowrap;
}

header nav ul li a {
    color: #dee3e8; ;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #1D4D7A;
}

header nav ul li.btn a {
    background-color: #1D4D7A;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 400ms ease;

}
header nav ul li.btn a:hover {
    background: #11273a;
}

header nav  {
    content: '';
    display: block;
    width: auto;
    background:#2d2b33 ;
    border-radius: 10px;
    position:relative;
    top: -30px;
    block-size: 70px;    

}




.hero {
padding-bottom: 1700px;
position:relative;
z-index: 1;
list-style-type: none;
}
.hero--info {
    width: 1300px;;
    padding-top: 10px;
}

.hero--info h2 {
    font-size: 90px;
    font-weight: 600;
    font-family: cursive;
    white-space: nowrap;

}

.hero--info h1 {
    font-size: 60px;
    font-weight: 450;
    font-family: cursive;
    padding-top: 100px;
    white-space: nowrap;
}

.hero--info p {
    font-size: 35px;
    font-weight: 400;
    padding-top: 5px;
    font-family: cursive;
    padding-bottom: 10%;
    white-space: nowrap;

}





.hero h3 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    block-size: 80px;
    

}


.hero img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 1040px;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    border: 10px solid #2d2b33;

}

.hero li a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 1290px;
    max-width: 400px;
    border-radius: 5px;
    background: #2d2b33;
    color:#dee3e8;
    padding:10px 165px;
    border:0;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    

}


.hero h4 {
    font-size: 65px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 120px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 600px;

}

.Id_0 h5 {
    text-align: center;
    font-size: 60px;
    font-weight: 480;
    font-family: cursive;
    padding-top: 50px;
    white-space: nowrap;

}

.Id_0 h6 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    padding-top: 5px;
    font-family: cursive;
    padding-bottom: 10%;
    white-space: nowrap;
}

.Id_0 textarea {
    width: 1500px;
    position:absolute;
    top:300px;
    left: 50%;
    font-size: 30px;
    padding-top: 50px;
    font-family: cursive;
    resize: none;
    border-color: #1e1f20;
    outline: none;
    padding-left: 2%;
    padding-bottom: 15%;
    color:#1e1f20;
    white-space: nowrap;
    transform: translate(-50%);
}

.hero00 {
    grid: 2000px;
    position:absolute;
    padding-bottom: 4000px;
    position:relative;
    z-index: 1;
}
.hero00 .Id_0 img {
    position: absolute;
    top:1100px ;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 10px solid #2d2b33;
}
.hero00 .Id_1 img {
    position: absolute;
    top:2900px ;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 10px solid #2d2b33;
}
.hero00 .Id_2 img {
    position: absolute;
    top:4700px ;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 10px solid #2d2b33;
}

.hero01 {
    width: 100%;
    left: auto;
    top: 1750px;
    position:absolute;
    margin: 0 auto;

}
.hero01--info h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: cursive;
    white-space: nowrap;

}
.hero1 {
    width: 100%;
    left: auto;
    top: 2000px;
    position:absolute;
    margin: 0 auto;

}
.hero1--info h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: cursive;
    white-space: nowrap;

}