@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    color: #1e1f20;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(360deg,rgb(255, 255, 255) 0%, rgb(221, 224, 230) 100%);
    width:100% ;

}


.container {
    min-width: auto;
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}


header nav {
    width: 100%;

}

header nav ul {
    list-style: none;
    display:flex;
    justify-content:space-around;
    z-index: 2;
    position: relative
}

header nav ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 20px;
    font-size: 140%;
    white-space: nowrap;
}

header nav ul li a {
    color: #dee3e8; ;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #1D4D7A;
}

header nav ul li.btn a {
    background-color: #1D4D7A;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 400ms ease;

}
header nav ul li.btn a:hover {
    background: #11273a;
}

header nav  {
    content: '';
    display: block;
    width: auto;
    background:#2d2b33 ;
    border-radius: 10px;
    position: relative;
    top: -30px;
    block-size: 70px;    

}



.hero {
padding-bottom: 100px;
position:relative;
z-index: 1;
list-style-type: none;
}
.hero h10 {
    font-size: 65px;
    font-weight: 550;
    font-family: cursive;
    padding-top: 120px;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 100px;
}
.hero .Id_0 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    block-size: 350px;
    
}
.hero .Id_0 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #8975b9;

}
.hero .Id_0 h2 {
    border-radius: 15px;
    color: #dee3e8;
    max-width: 700px;
    transform: translate(400px, -325px);
    font-size: 340%;
}

.hero .Id_1 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    block-size: 350px;
    
}
.hero .Id_1 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #458d73;

}
.hero .Id_1 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_2 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
    
}
.hero .Id_2 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #834638;

}
.hero .Id_2 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_3 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_3 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #647c62;

}
.hero .Id_3 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_4 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_4 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #4296a2;

}
.hero .Id_4 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_5 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_5 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #3856a0;

}
.hero .Id_5 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_6 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_6 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #a0579e;

}
.hero .Id_6 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_7 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_7 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #20222c;

}
.hero .Id_7 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_8 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_8 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #5a4734;

}
.hero .Id_8 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_9 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_9 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #d47132;

}
.hero .Id_9 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_10 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_10 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #9e9642;

}
.hero .Id_10 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_11 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
}
.hero .Id_11 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #a6977e;

}
.hero .Id_11 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_12 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_12 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #c03c84;

}
.hero .Id_12 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_13 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_13 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #7b7b7b;

}
.hero .Id_13 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}
.hero .Id_14 h1 {
    display: block;
    content: '';
    background:#2d2b33;
    border-radius: 15px;
    
}
.hero .Id_14 img {
    position: absolute;
    transform: translate(5%, -105%);
    max-width: 300px;
    border-radius: 10px;
    display: block;
    border: 10px solid #d1d5e5;

}
.hero .Id_14 h2 {
    border-radius: 15px;
    color: #dee3e8;
    transform: translate(400px, -325px);
    font-size: 340%;
}